@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');

/* -- Uso das fontes : 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Serif', serif; -- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #ffffff 16.62%, #FFBD4A 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    height: 200px;
}

.cabecalho-imagem { 
    height: 400px;
}

.cabecalho img {
    width: auto;
    height: 350px;
}

.cabecalho-menu { 
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item { 
    font-family: 'Montserrat', sans-serif;
    color: #2B2730;
    font-weight: 400;
    font-size: 24px;
}

.conteudo {
    border-top: 10px ridge #35B729;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    font-size: 64px;
    color: #2B2730;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2B2730;
}

.conteudo-principal-escrito-botao {
    background: linear-gradient(68.15deg, #35B729 16.62%, #FFBD4A 85.61%);
    cursor: pointer;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: #2B2730;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    margin: 30px;
    height: 430px;
    border-radius: 130px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 7px ridge #35B729;
    padding-top: 40px;
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    font-size: 24px;
    color: #2B2730;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgb(43, 39, 48);
    margin: 25px;
    padding: 0px;
}

/* -- Estilos Planos & Serviços -- */

.conteudo-p img {
    width: 100%;
    height: calc(76vh - 0px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha-plano {
    border-top: 10px ridge #35B729;
}







/* -- Fim Estilos Planos & Serviços -- */


/* -- Íncio Footer -- */

footer {
    background: linear-gradient(68.15deg, #ffffff 16.62%, #FFBD4A 85.61%);
    padding: 50px 0;
}

.linha-aplicada {
    border-top: 10px ridge #35B729;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.linha-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-coluna {
    width: 25%;
    padding: 0 15px;
}

.footer-coluna h4 {
    font-size: 22px;
    font-family: 'Roboto Serif', serif;
    color: #2B2730;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-coluna ul {
    list-style: none;
    padding-left: 0;
}

.footer-coluna ul li {
    margin: 10px 0;
}

.footer-coluna ul li a {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    color: #2B2730;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-coluna ul li a:hover {
    color: #35B729;
    padding-left: 10px;
}

.footer-coluna .medias-socias {
    margin-top: 30px;
}

.footer-coluna .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: #2B2730;
    border: 3px solid #35B729;
    transition: all 0.5s ease;
}

.footer-coluna .medias-socias a i {
    font-size: 20px;
}

.footer-coluna .medias-socias a:hover {
    color: #FFBD4A;
    background-color: #35B729;
}

.footer-coluna .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 0.5px solid #ffffff;
    background-color: #35B729;
    font-family: 'Montserrat', sans-serif;
}

.footer-coluna .form-sub input::placeholder {
    color: #ffffff;
    font-family: 'Roboto Serif', serif;
}

.footer-coluna .form-sub button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    background: linear-gradient(68.15deg, #FFBD4A 16.62%, #ffffff 85.61%);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-weight: bold;
    background-color: whitesmoke;
    font-family: 'Roboto Serif', serif;
    color: #074b01;
}

.bard {
    border-radius: 35px;
    padding: 4px;
    margin: 4px;
    width: 285px;
    background: linear-gradient(68.15deg, #E771AF 16.62%, #ffffff 85.61%);
}

.bard-text {
    padding: 4px;
    margin: 4px;
    font-family: 'Roboto Serif', serif;
    color: #2B2730;
    font-size: 16px;
}

/* -- Fim Footer -- */











